.game-detail {
  padding: 0.5rem;
  /* display: flex;
  flex-direction: column; */
}

@media screen and (min-width: 992px) {
  .cover-image {
    width: 40%;
    height: 40%;
  }
  .game-card {
    display: flex;
    justify-content: left;
    align-items: flex-start ;
  }
  .game-detail {
    width: 60%;
  }
}

.game-info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
