.cabinet {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.cabinet-modal {
  margin: 1rem;
}

.trophies {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.trophy-name {
  text-align: center;
}
.trophy-thumb {
  margin-left: auto;
  margin-right: auto;
}
.cabinet-toolbar {
  text-align: center;
}